;;;

"title": "Home"
  
;;;


%section
	.container-fluid
		.row
			.col-sm-12
				%button#open-wizard.btn.btn-primary
					Title

.modal.fade#myModal.full-screen-modal
	.modal-dialog
		.modal-content
			%nav.navbar-fixed-top.modal-header.navbar
				%button.close{"aria-hidden" => "true", "data-dismiss" => "modal", type: "button"} ×
				%h4.modal-title Modal title
			.modal-body
				%p
					= lorem.paragraphs 30
			%nav.navbar-fixed-bottom.modal-footer.navbar
				%button.btn.btn-default{"data-dismiss" => "modal", type: "button"} Close
				%button.btn.btn-primary{type: "button"} Save changes


%button.btn.btn-primary{"data-toggle"=>"modal","data-target"=>"#myModal"}
	What! Another Modal?


#some-wizard.wizard{"data-title" => "Select a Champion"}
	.wizard-card{"data-cardname" => "card1"}
		%h3 Step 1
		= lorem.paragraphs 30
	.wizard-card{"data-cardname" => "card2"}
		%h3 Step 2
		%button.btn.btn-primary{"data-toggle"=>"modal","data-target"=>"#myModal"}
			What! Another Modal?
	.wizard-success
		submission succeeded!
	.wizard-error
		submission had an error
	.wizard-failure
		.alert.alert-danger
			submission failed
		.btn.btn-primary.btn-sm.restart
			Start Over
		or
		.btn.btn-default.btn-sm.done
			Done

